
@import url("styles/header.css");
@import url("styles/cabecalho.css");
@import url("styles/main.css");
@import url("styles/article.css");



:root {
    --cor-de-fundo: #FFFFFF;
    --cor-principal:#667085;
    --cor-texto-logo:#3A404E;
    --cor-texto-botao:#ffffff;
    --cor-rodape: #f9fafb;
    --cor-botao:#f34336;
    --cor-subtitulo: #8E2424;
    --cor-titulo:  #101828;
    --rosa-degrade:rgba(196, 25, 25, 0.03);
    --cor-borda: #EAECF0;

    --fonte-principal: "inter";

}

body {
  width: 1440px;
  height: 100%;
  margin: auto;
  color:var(--cor-de-fundo);  
}
