

.introducao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--fonte-principal);
    margin-top: 80px;

}

.introducao__subtitulo {
    font-weight: 600;
    font-size: 16px;
    color: var(--cor-subtitulo);

}

.introducao__titulo {
    font-weight: 600;
    font-size: 48px;
    color: var(--cor-titulo);
    padding: 24px 0 36px 0;
    
}

.introducao__texto {
    width: 100%;
    max-width: 791px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color:var(--cor-principal);
}

.metricas-container {
    display: flex;
    flex-direction: row;
    gap: 64px;
    font-family: var(--fonte-principal);
    
}

.metricas-container__subtitulo__complemento {
    display: block;
    font-weight: 600;
    font-size: 60px;
    padding: 100px 0 15px 0;
    color:var(--cor-subtitulo);
}


.metricas-container__subtitulo {
    font-weight: 500;
    font-size: 18px;
    color: var(--cor-titulo);
    padding: 10px 0;
}



.metricas-container__texto {
    font-weight: 400;
    font-size: 16px;
    color: var(--cor-principal);   
}